@using Ecommerce.DTOs
@model BaseResponse<IEnumerable<UserDto>>;
@{
    ViewData["Title"] = "User Page";
}
<div>
    <a asp-action="CreateUser"  asp-controller="User">
        create User
    </a>
</div>
<h1 style="text-align: center;">List of Records</h1>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">S/N</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">UserName</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Name</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Email</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Role</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Update</th>
            </tr>
        </thead>
        <tbody>
        @{
            var number = 1;
        }
        @foreach (var record in Model.Data)
        {
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">@number</td>
                <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">@record.UserName</td>
                <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">@record.FirstName @record.LastName</td>
                <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">@record.Email</td>
                <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">@record.Role</td>
                <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">
                    <a asp-action="UpdateUser" asp-controller="User" asp-route-userName="@record.UserName">
                        update
                    </a>
                </td>
            </tr>
            number++;
        }
        </tbody>
    </table>