@model Ecommerce.DTOs.ProductDto

@{
    ViewBag.Title = "Update Product";
}
<div class="d-flex flex-column flex-column-fluid">
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">@ViewBag.Title</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="index.html" class="text-muted text-hover-primary">Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-500 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">eCommerce</li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-500 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Catalog</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
        <!--begin::Actions-->

        <!--end::Actions-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
<!--begin::Content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
<!--begin::Form-->
<form id="kt_ecommerce_add_product_form" asp-action="UpdateProduct" enctype="multipart/form-data" class="form d-flex flex-column flex-lg-row">
<!--begin::Aside column-->
<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
    <!--begin::Thumbnail settings-->
    <div class="card card-flush py-4">
        <!--begin::Card header-->
        <div class="card-header">
            <!--begin::Card title-->
            <div class="card-title">
                <h2>Thumbnail</h2>
            </div>
            <!--end::Card title-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body text-center pt-0">
            <!--begin::Image input-->
            <!--begin::Image input placeholder-->
                            <style>
                                .image-input-placeholder {
                                    background-image: url('Product/@Model.Image');
                                }

                                [data-bs-theme="dark"] .image-input-placeholder {
                                    background-image: url('Product/@Model.Image');
                                }</style>
            <!--end::Image input placeholder-->
            <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                <!--begin::Preview existing avatar-->
                <div class="image-input-wrapper w-150px h-150px"></div>
                <!--end::Preview existing avatar-->
                <!--begin::Label-->
                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                    <i class="ki-duotone ki-pencil fs-7">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <!--begin::Inputs-->
                    <input type="file" name="file" accept=".png, .jpg, .jpeg"/>
                    <input type="hidden" name="avatar_remove"/>
                    <!--end::Inputs-->
                </label>
                <!--end::Label-->
                <!--begin::Cancel-->
                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                    <i class="ki-duotone ki-cross fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <!--end::Cancel-->
                <!--begin::Remove-->
                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                    <i class="ki-duotone ki-cross fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <!--end::Remove-->
            </div>
            <!--end::Image input-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
            <!--end::Description-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Thumbnail settings-->
    <!--begin::Category & tags-->
    <div class="card card-flush py-4">
        <!--begin::Card header-->
        <div class="card-header">
            <!--begin::Card title-->
            <div class="card-title">
                <h2>Product Details</h2>
            </div>
            <!--end::Card title-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
            <!--begin::Input group-->

            <label class="form-label">Category Name</label>
            <input type="text" name="name" class="form-control mb-2" value="@Model.CategoryName" readonly="readonly"/>

            <!--end::Button-->
            <!--begin::Input group-->
            <label class="form-label">Company Name</label>
            <!--end::Select store template-->
            <input type="text" name="name" class="form-control mb-2" value="@Model.CompanyName" readonly="readonly"/>
             <!--begin::Input group-->

            <!--end::Select store template-->
            <input type="text" name="Id" class="form-control mb-2" value="@Model.Id" hidden="hidden"/>

        </div>
        <!--end::Card body-->
    </div>
    <!--end::Category & tags-->

    <!--begin::Template settings-->
    <div class="card card-flush py-4">
        <!--begin::Card header-->
        <div class="card-header">
            <!--begin::Card title-->
            <div class="card-title">
                <h2>Quantity Available</h2>
            </div>
            <!--end::Card title-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
            <!--begin::Select store template-->
            <label for="kt_ecommerce_add_product_store_template" class="form-label">Input the quantity of your product</label>
            <!--end::Select store template-->
            <input type="number" class="form-control form-control-solid" placeholder=""  value="@Model.QuantityAvailable" readonly="readonly">
        <label for="kt_ecommerce_add_product_store_template" class="form-label"> Input the quantity To add to previous quantity if necessary</label>
                   <!--end::Select store template-->
                  <input type="number" class="form-control form-control-solid" placeholder="" name="QuantityAvailable" value="">
                     
            </div>
        <!--end::Card body-->
    </div>
    <!--end::Template settings-->
</div>
<!--end::Aside column-->
<!--begin::Main column-->
<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
<!--begin:::Tabs-->
<ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-n2">
    <!--begin:::Tab item-->
    <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general">General</a>
    </li>
    <!--end:::Tab item-->
</ul>
<!--end:::Tabs-->
<!--begin::Tab content-->
<div class="tab-content">
<!--begin::Tab pane-->
<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
    <div class="d-flex flex-column gap-7 gap-lg-10">
        <!--begin::General options-->
        <div class="card card-flush py-4">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>General</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Input group-->
                <div class="mb-10 fv-row">
                    <!--begin::Label-->
                    <label class="required form-label">Product Name</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="name" class="form-control mb-2" placeholder="Product name" value="@Model.Name" readonly="readonly"/>
                    <!--end::Input-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div>
                    <!--begin::Label-->
                    <label class="form-label">Description</label>
                    <!--end::Label-->


                    <textarea name="Description"  class="min-h-200px mb-2" style="width: 100%;">@Model.Description</textarea>
                    <!--end::Textarea-->
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Set a description to the product for better visibility.</div>

                </div>
                <!--end::Input group-->
            </div>
            <!--end::Card header-->
        </div>
        <!--end::General options-->
        <!--begin::Media-->
        <!--begin::Pricing-->
        <div class="card card-flush py-4">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>Pricing</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Input group-->
                <div class="mb-10 fv-row">
                    <!--begin::Label-->
                    <label class="required form-label">Base Price</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="price" class="form-control mb-2" placeholder="Product price" value="@Model.Price"/>
                    <!--end::Input-->
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Set the product price.</div>
                    <!--end::Description-->
                </div>
                <!--end::Input group-->
              
                <!--end::Input group-->
                <!--begin::Tax-->
                <div class="d-flex flex-wrap gap-5">
                    <!--begin::Input group-->
                    <div class="fv-row w-100 flex-md-root">
                        <!--begin::Label-->
                        <label class="form-label">VAT Amount (%)</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" name="DisCount" class="form-control mb-2" value=""/>
                        <!--end::Input-->
                        <!--begin::Description-->
                        <div class="text-muted fs-7">Set the product VAT about.</div>
                        <!--end::Description-->
                    </div>
                    <!--end::Input group-->
                </div>
                <!--end:Tax-->
            </div>
            <!--end::Card header-->
        </div>
        <!--end::Pricing-->
    </div>
</div>
<!--end::Tab pane-->
</div>
<!--end::Tab content-->
<div class="d-flex justify-content-end">
    <!--begin::Button-->
    <a href="apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
    <!--end::Button-->
    <!--begin::Button-->
    <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
        <span class="indicator-label">Save Changes</span>
        <span class="indicator-progress">
            Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
    </button>
    <!--end::Button-->
</div>
</div>
<!--end::Main column-->
</form>
<!--end::Form-->
</div>
<!--end::Content container-->
</div>
<!--end::Content-->
</div>